@charset "ISO-8859-1";
header{
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  
}
.button{
    display: inline-block;
    text-align: center;
    color: black;
    border: 1px;
    background-color: white;
    padding: 5px 14px;
    border-radius: 5px;

}

.button:hover{
    background-color: red;
    display: block;
    border-radius: 5px;
}
