.modal {
  display: none; 
  position: fixed; 

  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: aquamarine;

}
form{
  align-self: center;
}

.container{
  border-radius: 5px;
  background-color: azure;
  padding: 20px;
  width: 80%;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left:  160px;
  ,margin-right: 160px;
  border-radius: 50px;
  align-self: auto;
}




 

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #f1f1f1;
  
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
  zoom: 10px;
  display: block;
}


.col-25{
  float: left;
  width: 25%;
  margin-top: 6px;
  margin-left: 55px;
}
.col-75{
  float: right;
  width: 60%;
  margin-top: 6px;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

label{
  padding: 12px 12px 12px 0; 
  display: inline-block;
}

input[type=text], input[type=number], input[type=date], input[type=password], textarea{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"]:hover{
  background-color: #45a049;
}

input[type="submit"]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius:4px;
  cursor: pointer;
  float: left; 
}

table{
    
  margin-right:220px;
  margin-left: 220px;
  align-self: center;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  
}
table,tr{
  padding: 20px;
}
table,th,td{
  border: 1px solid;
  padding: 14px;
}
table,#percentage {
      width: 60%;
      padding: 4px;
  }
  
table, #clientname{
  width: 60%;
  padding: 4px;
}

.button {
    
      border: none;
      color: white;
      padding: 10px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      
      margin-left: 900px;
      
      cursor: pointer;
    }
.button1 {
      background-color: white; 
      color: black; 
      border: 2px solid aquamarine;
    }
.button1:hover {
      background-color: aquamarine;
      color: white;
    }

#ww    {
 color: white;
 display: inline-block;
 padding: 10px;
text-decoration: none;
  
}
#ww:hover{
  display: block;
  padding: 10px;
  color: #f44336;
  text-decoration: none;
  background-color:wheat;
}