


.container {
    border-radius: 5px;
    background-color: azure;
       padding: 20px;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 50px;
  }
label{
    padding: 12px 12px 12px 0; 
    display: inline-block;

}
.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-left: 55px;
}
.col-75{
    float: right;
    width: 60%;
    margin-top: 6px;

}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type="submit"]:hover{
      background-color: #45a049;
  }
  input[type="submit"]{
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius:4px;
      cursor: pointer;
      float: left; 
  }
  * {
    box-sizing: border-box;
  }
  
input[type=text], input[type=number],input[type=date],input[type=password],  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
table{
    
    margin-right:220px;
    margin-left: 220px;
    text-align: center;
    border-collapse: collapse;
  border-spacing: 0;
    
}
table,tr{
    padding: 20px;
}
table,th,td{
    border: 1px solid;
    padding: 14px;
}
 table,#percentage {
        width: 60%;
        padding: 4px;
    }
    
 table, #clientname{
    width: 60%;
    padding: 4px;
}
/* 
.button {
      
        border: none;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        
        margin-left: 900px;
        
        cursor: pointer;
      }
      .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
      }
      .button1:hover {
        background-color: #4CAF50;
        color: white;} */
